.vscode
*.exe
*.gch
*.o
*.obj

# python
__pycache__/
*.pyc
*$py.class

# java
*.jar

# vagrant
.vagrant
environments/cms/*.log

# packing
cms_artifact.zip
cms_packing/
result.html

# latex
problems/universe.tex
problems/problems.pdf
problems/*.aux
problems/*.log
problems/*.out

# generator
generator/*.in
generator/*.out
testdata/**/*_autogen.in
testdata/**/*_autogen.out

# lualatex
environments/lualatex/*.gz
environments/lualatex/font
